name: Build

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15]
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: sh -ex test/deps.sh
      - name: Build
        run: cd vt100; make
      - name: Test
        run: cd vt100; make check
